{
  "extends": ["airbnb", "prettier"],
  "plugins": ["html"],
  "rules": {
    "spaced-comment": "off",
    "max-len": ["error", { "code": 125 }]
  },
  "globals": {
    "document": true,
    "browser": true,
    "foo": true,
    "node": true,
    "window": true,
    "alert": true,
    "Image": true,
    "requestAnimationFrame": true,
    "$": true,
    "thrownError": true,
    "errorHandler": true,
    "navigator": true,
    "showLocation": true,
    "cursor": true,
    "localStorage": true,
    "ClipboardJS": true,
    "Vue": true
  }
}
