html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #444;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

h1 {
  margin: 5px;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.custom-minute-input {
  font-family: 'Open Sans', sans-serif;
  width: 240px;
  font-size: 1.05em;
  text-align: center;
  outline: none;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  box-shadow: 0 0 10px rgba(50, 50, 93, 0.11), 0 0 3px rgba(0, 0, 0, 0.08);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.custom-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.timer {
  font-size: 4em;
  font-weight: bold;
  margin: 10px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85em;
  margin: 10px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn-focus {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:active {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.start-button {
  background-color: #00c652;
}

.start-button:hover,
.start-button:focus {
  background-color: #00b14a;
}

.stop-button {
  background-color: #f44336;
}

.stop-button:hover,
.stop-button:focus {
  background-color: #df3e33;
}

.change-timer-button,
.reset-button {
  background-color: #757575;
}

.change-timer-button:hover,
.change-timer-button:focus,
.reset-button:hover,
.reset-button:focus {
  background-color: #636363;
}

@media screen and (max-width: 484px) {
  .change-timer-button {
    margin-top: 25px;
  }

  h1 {
    font-size: 1.85em;
  }
}
