html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* width: 20%; */
}

h1 {
  margin: 5px;
}

button,
input {
  font-size: 1.2em;
  text-align: center;
}

.timer {
  font-size: 4em;
  font-weight: bold;
  margin: 5px;
}

.start-button {
  background-color: #4CAF50;
  border: 1px solid black;
  outline: none;
  margin: 10px;
}

.stop-button {
  background-color: #F44336;
  border: 1px solid black;
  outline: none;
  margin: 10px;
}

.reset-button {
  background-color: #E0E0E0;
  border: 1px solid black;
  margin: 10px;
}

.change-pomodoro {
  background-color: #E0E0E0;
  border: 1px solid black;
}
