html,
body {
	height: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	display: table;
	width: 100%;
}

body {
	padding: 0 25px;
	color: #333;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Quicksand', sans-serif;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.header--instruction,
.container--hex-colour-code {
	opacity: 0.7;
	font-size: 2em;
}

.header--instruction {
	font-weight: 300;
	margin-bottom: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container--hex-colour-code {
	margin-bottom: 30px;
}

.button--copy-to-clipboard {
	height: 35px;
	letter-spacing: .025em;
	cursor: pointer;
	margin-top: 5px;
	border-radius: 5px;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	padding: 0 10px;
	padding-bottom: 2px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	outline: none;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	color: #333;
	opacity: 0.9;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button--copy-to-clipboard:hover {
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	opacity: 1;
	transform: translateY(-1px);
}

.button--copy-to-clipboard:active {
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	transform: translateY(1px);
}

.container--success-message {
	margin-top: 30px;
	display: none;
	position: fixed;
	right: 0;
	width: 100%;
	opacity: 0;
	font-size: 1.3em;
}

@-webkit-keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}

.fade-out {
	opacity: 0;
	-moz-animation   : fadeout 1.5s linear;
	-webkit-animation: fadeout 1.5s linear;
	animation        : fadeout 1.5s linear;
}