/**
 * Global
 */

html,
body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  min-height: 100vh;
  background: url("img/photos/piano.jpg") center 0 fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 * Header
 */
 
.white-overlay {
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}

header {
  min-height: 100vh;
  background-size: cover;
}

header .col-md-12 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header h1 {
  font-size: 5em;
}

header h2 {
  font-size: 4em;
}

header h3 {
  font-size: 2.5em;
}

.heading {
  font-size: 3em;
  padding-bottom: 20px;
}

/**
 * Biography
 */

.biography {
  min-height: 100vh;
  background: white;
  padding: 50px 0;
  line-height: 2em;
}

.biography .col-md-12 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.1em;
  padding: 5px 30px;
}

.biography .img-fluid {
  padding-top: 20px;
}

/**
 * Discography
 */

.discography {
  min-height: 100vh;
  background: #FFF;
  padding: 50px 0;
}

.discography h3 {
  margin-bottom: 20px;
}

.discography a {
  font-size: 1.2em;
  color: #292b2c;
}

.discography .img-fluid {
  margin-bottom: 10px;
}

.discography figure {
  margin-bottom: 30px;
}

/**
 * Influences
 */

.influences {
  min-height: 100vh;
  background: #FFF;
  padding: 50px 0;
  padding-bottom: 50px;
  line-height: 2em;
}

.influences p {
  font-size: 1.1em;
}

.influences figure {
  font-size: 1.3em;
}

.influences p:last-child {
  padding-bottom: 20px;
}

.influences .img-fluid {
  margin-bottom: 10px;
}

/**
 * Photo dividers
 */

.first-photo {
  min-height: 100vh;
  background: url("img/photos/young-with-guitar.jpg") center 0 fixed;
  background-size: cover;
}

.second-photo {
  min-height: 100vh;
  background: url("img/photos/live-electric.jpg") center 0 fixed;
  background-size: cover;
}

.first-photo .white-overlay,
.second-photo .white-overlay {
  background: rgba(255, 255, 255, 0.35);
}

.final-photo {
  min-height: 100vh;
  background: url("img/photos/seated.jpg") center fixed;
  background-size: cover;
}

.final-photo .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Indie Flower', cursive;
  font-size: 2.25em;
}

.final-photo .white-overlay {
  background: rgba(255, 255, 255, 0.6);
}

/**
 * Responsiveness
 */

@media screen and (max-width: 576px) {
  .influences .img-fluid {
    padding-bottom: 0;
  }
  .influences figure {
    margin: 15px;
  }
  .discography figure {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  header .col-md-12 {
    font-size: 0.7em;
  }
  header h1,
  header h2 {
    font-size: 4.5em;
  }
  .biography h3,
  .influences h3,
  .discography h3 {
    font-size: 2.5em;
  }
  .third-photo .container {
    font-size: 1.8em;
  }
}