html {
	font-family: "Avenir Next", Helvetica, sans-serif;
	text-align: center;
}

body {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fcfcfc;
	color: #3a3a3a;
}

input {
	margin-top: 30px;
	width: 500px;
	height: 60px;
	font-size: 40px;
	border: 0;
	background: none;
}

input:focus {
	outline:none;
}

li {
	text-align: left;
	font-size: 40px;
	list-style: none;
	margin: 0;
}

li:hover {
	text-decoration: line-through;
}