html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #292b2c;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.calculator {
  height: 370px;
  background-color: #eeeeee;
  margin: 0 auto;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}

.screen {
  background-color: lightgray;
  background-color: #dcedc8;
  height: 50px;
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3em;
  overflow: hidden;
  text-indent: 15px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.2);

  color: rgba(41, 43, 44, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  margin: 10px 0;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  justify-content: space-between;
}

.fifth-row {
  position: relative;
  bottom: 60px;
  width: 190px;
}

button {
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 1.05em;
  color: #292b2c;
  background-color: #e0e0e0;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button:active {
  box-shadow: 1px 1px 3px #888888;
}

.all-clear,
.delete-entry {
  background-color: #ef9a9a;
}

.equals {
  height: 113px;
}

.zero {
  width: 113px;
}

.operator {
  font-size: 1.3em;
}
