html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #292b2c;
}

.calculator {
  height: 370px;
  background-color: #EEEEEE;
  margin: 0 auto;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
}

.screen {
  background-color: lightgray;
  background-color: #DCEDC8;
  height: 50px;
  /*padding: 10px;*/
  margin: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3em;
  /*text-align: right;*/
  overflow: hidden;
  text-indent: 15px;
  /*direction: rtl;*/
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #888888;
  color: rgba(41, 43, 44, 0.8);
  /*white-space: nowrap;*/
  /*line-height: 60px;*/
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.buttons {
  margin: 10px 0;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  justify-content: space-between;
}

.fifth-row {
  position: relative;
  bottom: 60px;
}

button {
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 1.1em;
  color: #292b2c;
  background-color: #E0E0E0;
  font-weight: bold;
  outline:none;
  box-shadow: 2px 2px 3px #888888;
  border: none;
  border-radius: 5px;
  /*border: 5px solid #E0E0E0;*/
}

button:active {
  box-shadow: 1px 1px 3px #888888;
}

.all-clear,
.clear-entry {
  background-color: #EF9A9A;
  /*color: white;*/
}

.equals {
  height: 113px;
}

.zero {
  width: 113px;
}