html {
	font-family: "Avenir Next", Helvetica, sans-serif;
	text-align: center;
}

body {
	margin: 0 auto;
    font-size: 120%;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

h1, h2 {
	font-weight: 300;
}

#weather-icon {
	font-size: 600%;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black !important;
}

#api {
    font-size: 90%;
}

#minutely {
    opacity: 0.7;
    font-size: 80%;
}