html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: #292b2c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.quote {
  font-weight: 100;
  max-width: 80%;
  font-weight: bold;
}

.quote h2 {
  font-weight: bold;
  font-size: 1.6em;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 0.9em;
  }
}


@media screen and (max-width: 480px) {
  body {
    font-size: 0.7em;
  }
}