html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.98em;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 50px;
  min-height: -webkit-min-content;
  min-height: min-content;
}

main {
  font-weight: 100;
  max-width: 80%;
}

main h2 {
  font-size: 1.6em;
  text-align: center;
}

main h1 p {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.7em;
  }
}
