/* Hide vue.js elements till fully loaded */
[v-cloak] {
  visibility: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 1.4em;
  color: #333;
}

h1 {
  font-family: 'Fanwood Text', serif;
  font-size: 1.9em;
  margin-bottom: 20px;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.nth-character-finder-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  max-width: 450px;
  padding: 0 40px;
}

.nth-character-finder-wrapper > * {
  margin-bottom: 20px;
}

input[type='text'],
input[type='number'] {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  outline: none;
  padding: 10px;
  color: #333;
}

/* Inputs */
input[type='text'] {
  border-radius: 5px;
  border: 1px solid lightgray;
}

input[type='number'] {
  width: 50px;
  border: 1px solid lightgray;
  text-align: center;
}

input[type='number']:invalid {
  box-shadow: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrappers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.character-result {
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
}

.character-number {
  display: flex;
  justify-content: center;
}

.character-number button,
.character-number .flex input {
  font-size: 1em;
}

.character-number button {
  cursor: pointer;
  border: 0;
  min-width: 35px;
  background-color: #e0e0e0;
  color: #333;
}

.character-number button:hover {
  background-color: #c9cacc;
}

.character-number button:active {
  background-color: #babbbc;
}

.character-number button:focus {
  outline: none;
}

.character-number button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.character-number button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copy-button {
  background-color: #e0e0e0;
  color: #333;
  font-size: 0.65em;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  width: 100%;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #c9cacc;
}

.copy-button:active {
  background-color: #babbbc;
  outline: none;
}

.copied-confirmation {
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  margin-top: 10px;
}

.show-message {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
