/* variables */
:root {
  --color-black: #333;
  --color-light-gray: #d3d3d3;
  --color-button-bg: #e0e0e0;
  --color-button-hover-bg: #c9cacc;
  --color-button-active-bg: #babbbc;
}

/* Hide vue.js elements till fully loaded */
[v-cloak] {
  visibility: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-black);
}

h1 {
  font-family: 'Fanwood Text', serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.nth-character-finder-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  max-width: 420px;
  padding: 0 40px;
}

.nth-character-finder-wrapper > * {
  margin-bottom: 20px;
}

input[type='text'],
input[type='number'] {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  color: var(--color-black);
}

/* Inputs */
input[type='text'] {
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  width: 100%;
}

input[type='number'] {
  width: 50px;
  border: 1px solid var(--color-light-gray);
  text-align: center;
}

input[type='number']:invalid {
  box-shadow: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrappers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.character-result {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--color-black);
  color: #fff;
  text-align: center;
  padding: 10px 15px;
}

/* Character number */
.character-number {
  display: flex;
  justify-content: center;
}

.character-number button,
.character-number .flex input {
  font-size: 1em;
}

/* Buttons */
button {
  border: 0;
  background-color: var(--color-button-bg);
  cursor: pointer;
  color: var(--color-black);
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  padding: 10px;
}

button:hover {
  background-color: var(--color-button-hover-bg);
}

button:active {
  background-color: var(--color-button-active-bg);
}

.character-number button {
  min-width: 35px;
}

.character-number button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.character-number button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copy-button {
  width: 100%;
}

/* Confirmation */
.copied-confirmation {
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  margin-top: 10px;
}

.show-message {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
