html,
body {
	font-family: 'Yrsa', serif;
	color: #212121;
	font-size: 1.1em;
}

body {
	padding-top: 90px;
}

.album ol,
.album ul {
	margin-top: 15px;
}

.misc-collection {
	margin: 0 auto;
}

.container {
	padding-top: 70px;
	margin-top: -70px;
}
