.map-wrapper {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: left;
}

#map {
  margin-bottom: 16px;
  width: 80% !important;
}

@media screen and (max-width: 1140px) {
  .map-wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 960px) {
  #map {
    height: 400px !important;
    width: 600px !important;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 720px) {
  #map {
    width: 90% !important;
    height: 30vh !important;
  }
}
