<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UK VAT Calculator</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="flex-container">
    <main id="calculate-vat">
      <h1>UK VAT Calculator</h1>
      <!-- Calculator Inputs -->
      <form v-on:submit.prevent="calculateVat">
        <span class="currency">£</span>
        <input class="user-input" type="number" min="0.01" step="0.01" placeholder="Enter an amount" v-model.number="inputAmount"
          required>
        <br>
        <br>
        <div class="add-or-minus-vat">
          <label>
            <input id="add-vat" type="radio" name="vat-option" value="add" v-model="addOrMinusVat" required> Add VAT
          </label>
          <label>
            <input class="remove-vat" id="remove-vat" type="radio" name="vat-option" value="minus" v-model="addOrMinusVat"> Remove VAT
          </label>
        </div>
        <div class="percentages">
          <label>
            <input class="increased-rate" id="20-percent" type="radio" name="vat-rate" value="1.2" v-model="vatRate" required> 20% Standard Rate
          </label>
          <label>
            <input class="reduced-rate" id="5-percent" type="radio" name="vat-rate" value="1.05" v-model="vatRate"> 5% Reduced Rate
          </label>
        </div>
        <br>
        <input class="btn" type="submit" value="Calculate">
      </form>
      <!-- Result Card -->
      <div class="result" v-bind:style="{ display: resultVisibility }">
        <h3>Net Amount (exc. VAT)</h3>
        <p class="net-amount" :data-clipboard-text="netAmount" v-on:click="copyText">{{ netAmount }}</p>
        <h3>VAT Amount</h3>
        <p class="vat-amount" :data-clipboard-text="vatAmount" v-on:click="copyText">{{ vatAmount }}</p>
        <h3>VAT Amount (exc. VAT)</h3>
        <p class="gross-amount" :data-clipboard-text="grossAmount" v-on:click="copyText">{{ grossAmount }}</p>
        <div class="copy-message">
          <small class="copy-text">{{ copyMessage }}</small>
        </div>
      </div>
    </main>
    <!-- Footer Link -->
    <footer>
      <p>
        <a href="https://www.gov.uk/vat-rates">VAT Rates - GOV.UK</a>
      </p>
    </footer>
  </div>
  <!-- Scripts -->
  <script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
  <script src="app.js"></script>
</body>

</html>