<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UK VAT Calculator</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="flex-container">
    <main id="calculate-vat">
      <h1>UK VAT Calculator</h1>
      <!-- Calculator Inputs -->
      <form v-on:submit.prevent="calculateVat">
        <span class="currency">£</span>
        <input class="user-input" autofocus type="number" min="0.01" step="0.01" placeholder="Enter an amount" v-model.number="inputAmount"
          required>
        <div class="label-container">
          <label>
            <input id="add-vat" type="radio" name="vat-option" value="add" v-model="addOrMinusVat" required> Add VAT
          </label>
          <label>
            <input id="remove-vat" type="radio" name="vat-option" value="minus" v-model="addOrMinusVat"> Remove VAT
          </label>
        </div>
        <div class="label-container">
          <label>
            <input id="20-percent" type="radio" name="vat-rate" value="1.2" v-model="vatRate" required> 20% Standard Rate
          </label>
          <label>
            <input id="5-percent" type="radio" name="vat-rate" value="1.05" v-model="vatRate"> 5% Reduced Rate
          </label>
        </div>
        <input class="btn" type="submit" value="Calculate">
      </form>
      <!-- Result Card -->
      <div class="result" v-bind:style="{ display: resultCardDisplay }">
        <div class="result-section">
          <h3>Net Amount (exc. VAT)</h3>
          <p>{{ netAmount }}</p>
          <button class="btn-copy net-amount" :data-clipboard-text="netAmount" v-on:click="copyText">Copy</button>
        </div>
        <div class="result-section">
          <h3>VAT Amount</h3>
          <p>{{ vatAmount }}</p>
          <button class="btn-copy vat-amount" :data-clipboard-text="vatAmount" v-on:click="copyText">Copy</button>
        </div>
        <div class="result-section">
          <h3>VAT Amount (exc. VAT)</h3>
          <p>{{ grossAmount }}</p>
          <button class="btn-copy gross-amount" :data-clipboard-text="grossAmount" v-on:click="copyText">Copy</button>
        </div>
      </div>

      <transition name="fade">
        <div v-cloak v-if="showCopyMessage" class="toast-message">
          <small>Copied to clipboard</small>
        </div>
      </transition>
    </main>
    <!-- Footer Link -->
    <footer>
      <p>
        <a href="https://www.gov.uk/vat-rates">VAT Rates - GOV.UK</a>
      </p>
    </footer>
  </div>
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
