html,
body {
  height: 100%;
  overflow: hidden;
  color: #252525;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 1.1em;
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8db6, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8db6,
    #3a7bd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 1.7em;
  font-family: 'Karma', serif;
  font-weight: 700;
  margin: 0;
}

.container {
  max-width: 520px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 4px;
}

.card {
  padding: 16px;
}

input {
  font-size: 1.1em;
  margin: 4px 12px 12px 12px;
  padding: 2px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3em;
  }
}
