html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.container {
  height: 96%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering {
  float: none;
  margin: 0 auto;
}

.icon {
  padding-top: 20px;
}

.wi {
  font-size: 150px;
  padding: 10px;
  padding-bottom: 20px;
}

.unit {
  cursor: pointer;
  color: black;
}

#location {
  font-size: 2.5em;
  opacity: 0.9;
  letter-spacing: .15em;
}

#temp {
  font-size: 3.5em;
}

.unit {
  font-size: 2.3em;
}

#day-and-time {
  font-size: 2em;
  opacity: 0.8;
  letter-spacing: .1em;
}

#summary {
  font-size: 2.2em;
  opacity: 0.9;
  letter-spacing: .05em;
}

footer {
  margin-top: -10px;
  margin-left: 10px;
}

@media screen and (max-width: 375px) {
  body {
    font-size: 1.2em;
  }
}