html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.container {
  height: 96%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

#location {
  font-size: 3.5em;
  opacity: 0.9;
}

.icon {
  padding-top: 50px;
}

.wi {
  font-size: 150px;
  padding: 10px;
  padding-bottom: 20px;
}

.unit {
  cursor: pointer;
  color: black;
}

#temp,
.unit {
  font-size: 2.5em;
}

#day-and-time, #summary {
  font-size: 2.5em;
  opacity: 0.9;
}

footer {
  margin-top: -10px;
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  body {
    font-size: 1em;
  }
  .wi {
    font-size: 100px;
  }
}