* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #d4d8dd;
	height: 100%;
	width: 100%;
	font-size: 1em;
}

/* Analog clock */
.analog-clock {
	height: 500px;
	width: 500px;
	background-color: #DDDDDD;
	border-radius: 100%;
	border: 10px solid #AAAAAA;
	-moz-box-shadow: inset 0 0 50px #000000;
	-webkit-box-shadow: inset 0 0 50px #000000;
	box-shadow: inset 0 0 20px #000000;
	position: absolute;
 	top: 50%;
  left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
}

/* Hour positions */
.twelve {
	position: absolute;
	width: 3px;
	height: 15px;
	background: #111111;
	left: 0;
	top: 0;
	right: 0;
	margin: 0 auto;
}

.three {
	position: absolute;
	width: 15px;
	height: 3px;
	background: #111111;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
}

.six {
	position: absolute;
	width: 3px;
	height: 15px;
	background: #111111;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
}

.nine {
	position: absolute;
	width: 15px;
	height: 3px;
	background: #111111;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

/* Clock hands */
.center {
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	background: #000;
	border-radius: 100%;
}

#seconds {
	position: absolute;
	height: 180px;
	width: 2px;
	left: 0;
	right: 0;
	bottom: 180px;
	top: 0px;
	margin: auto;
	background: #000;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	background: #FF4136;
}

#minutes {
	position: absolute;
	height: 200px;
	width: 7px;
	left: 0;
	right: 0;
	bottom: 200px;
	top: 0px;
	margin: auto;
	background: #000;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
}

#hours {
	position: absolute;
	height: 130px;
	width: 10px;
	left: 0;
	right: 0;
	bottom: 130px;
	top: 0px;
	margin: auto;
	background: #000;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
}

/* Digital clock */
@font-face {
	font-family: alarm-clock;
	src: url(digital-7-mono.ttf);
	font-weight: bold;
}

.digital-clock {
	width: 730px;
	height: 200px;
	background-color: #595959;
	border-radius: 25px;
	border: 3px solid #3a3a3a;
	position: absolute;
 	top: 50%;
  left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: none;
}

.clock-face {
	width: 650px;
	height: 150px;
	background-color: #DDDDDD;
	border-radius: 25px;
	border: 3px solid #AAAAAA;
	margin: 0 auto;
	position: absolute;
 	top: 50%;
  left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
  text-indent: -30px;
	line-height: 150px;
	font-size: 8em;
	color: #474747;
	font-weight: bold;
	font-family: alarm-clock, arial;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

/* Button */
#btn {
	background-color: #425168;
	border: none;
	color: white;
	font-size: 1.5em;
	padding: 15px 32px;
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0.8;
}

/* Responsive */
@media screen and (max-width: 560px) {
	.analog-clock {
		height: 300px;
		width: 300px;
	}
	
	#hours {
		height: 70px;
		bottom: 70px;
		width: 8px;
	}

	#minutes {
		height: 120px;
		bottom: 120px;
		width: 5px;
	}

	#seconds {
		height: 100px;
		bottom: 100px;
	}

	#btn {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 380px) {
	.analog-clock {
		height: 200px;
		width: 200px;
	}

	#hours {
		height: 50px;
		bottom: 50px;
		width: 6px;
	}

	#minutes {
		height: 80px;
		bottom: 80px;
		width: 4px;
	}

	#seconds {
		height: 80px;
		bottom: 80px;
	}
}

@media screen and (max-width: 800px) {
.digital-clock {
		width: 430px;
		height: 150px;
	}

	.clock-face {
		width: 380px;
		height: 100px;
		font-size: 5em;
		line-height: 100px;
	}
}

@media screen and (max-width: 500px) {
.digital-clock {
		width: 230px;
		height: 120px;
	}

	.clock-face {
		width: 190px;
		height: 80px;
		font-size: 3em;
		line-height: 80px;
		text-indent: -14px;
	}
}