@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville');

html {
  background: #f3f3f3;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}
