.locations-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
}

.locations-list {
  display: flex;
  flex-direction: column;
}

.locations-wrapper button {
  text-align: left;
  background:none !important;
  color: #2196F3;
  border: none;
  padding: 0 !important;
  font: inherit;
  outline: 0;
  cursor: pointer;
  margin-bottom: 16px;
}

.locations-wrapper button:hover {
  text-decoration: underline;
}
