<!DOCTYPE html>
<html>
  <head>
    <title>Character Finder</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Work+Sans" rel="stylesheet">
    <!-- CSS -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-container">
      <main class="character-finder">
        <h1>Character Finder</h1>
        <p>Find a specific character in a word.</p>
        <input id="text-input" type="text" v-model="textInput" placeholder="Type a word to search" autofocus>
          <p>Character required:</p>
        <div class="character-number">
          <button v-on:click="minusCharacterIndex">-</button>
          <input id="number-input" type="number" min="1" v-bind:max="textInput.length" v-model="characterNumber">
          <button v-on:click="plusCharacterIndex">+</button>
        </div>
        <p class="character-result" id="text" v-cloak>{{ textInput[characterNumber - 1] }}</p>
        <button class="copy-button" data-clipboard-action="copy" data-clipboard-target="#text" v-on:click="copyMessage">Copy to clipboard</button>
        <transition name="fade">
          <p class="successful-copy" v-cloak v-if="show">Succesfully copied</p>
        </transition>
      </main>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
