html, body {
    height: 100%;
	overflow: hidden;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-align: center;
}

input {
	font-size: 1.2em;
	text-align: center;
}

#hide-word {
	vertical-align: bottom;
	vertical-align: top;
	height: 32.5px;
	border: none;
	border-radius: 0 5px 5px 0;
}

.copy-button{
	border-radius: 5px;
	padding: 10px;
	border: none;
	font-family: 'Open Sans', sans-serif;
}

.copy-button:focus {
	outline: 0;
}

.copy-button:hover {
	background: #c2c3c4;
	cursor: pointer;
}

#character-number {
	width: 100px;
}

#character {
	font-size: 180%;
	font-weight: bold;
	background: transparent;
}

#character::-moz-selection, #character::selection {
	background: transparent;
}

#success {
	font-size: 80%;
	color: gray;
}

/* Fade out from http://stackoverflow.com/a/28662971 */

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 2s linear;
  -webkit-animation: fadeout 2s linear;
  animation        : fadeout 2s linear;
}
