/* Hide vue.js elements till fully loaded */
[v-cloak] {
  visibility: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 1.4em;
  color: #333;
}

label {
  font-size: .85em;
  margin-bottom: 10px;
}

br {
  line-height: 40px;
}

h1 {
  font-family: 'Fanwood Text', serif;
  font-size: 1.9em;
  margin-bottom: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
}

input[type=text],
input[type=number] {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  outline: none;
  padding: 5px;
  color: #333;
}

/* Inputs */
input[type=text] {
  border-radius: 5px;
  border: 1px solid lightgray;
}

input[type=number] {
  width: 80px;
  border: 1px solid lightgray;
  text-align: center;
  -moz-appearance: textfield;
}

input[type=number]:invalid  {
  box-shadow: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}

.character-result {
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 50px;
  background-color: #eee;
  width: 40px;
  padding: 10px 15px;
}

.character-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.character-number button,
.character-number .flex input {
  font-size: 1em;
}

.character-number button {
  border: 0;
  min-width: 35px;
  background-color: #E0E0E0;
  color: #333;
}

.character-number button:hover {
  background-color: #c9cacc;
}

.character-number button:active {
  background-color: #babbbc;
}

.character-number button:focus {
  outline: none;
}

.character-number button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.character-number button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copy-button {
  background-color: #E0E0E0;
  color: #333;
  font-size: .65em;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}

.copy-button:hover {
  background-color: #c9cacc;
}

.copy-button:active {
  background-color: #babbbc;
  outline: none;
}

.copied-confirmation {
  font-size: 0.7em;
  opacity: 0;
  transition: opacity .5s
}

.show-message {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s
}