body {
	font-family: 'Helvetica', sans-serif;
	color: #333;
	font-weight: 100;
	max-width: 50em;
	margin: 0 auto;
}

div:focus {
	outline: none;
}

#heading {
	font-size: 48px;
	margin-top: 30px;
	margin-left: 20px;
}

#heading:focus, #heading:hover {
	border: solid rgba(0, 0, 0, .2);
}

#content {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 24px;
}

#content:focus, 
#content:hover {
	border: solid rgba(0, 0, 0, .2);
}

button {
	font-size: 50px;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
}

button:hover {
	color: #6b6b6b;
}

button:focus {
	outline: none;
}

footer {
	text-align: center;
	padding-top: 15px;
	vertical-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	background: rgba(240, 240, 240, 0.6);
}