<!DOCTYPE html>
<html>
  <head>
    <title>Character Finder</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!-- CSS -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-container">
      <main id="character-finder">
        <h1>Character Finder</h1>
        <label for="text-input">Enter your word:</label>
        <br>
        <input id="text-input" type="text" v-model="input">
        <p class="character-length">{{ input.length }} characters</p>
        <!--<br>-->
        <label for="number-input">Required character:</label>   
        <br>
        <div class="character-number">
          <button v-on:click="characterNumber > 1 ? characterNumber-- : characterNumber">-</button>
          <input id="number-input" type="number" min="1" v-bind:max="input.length" v-model="characterNumber">
          <button v-on:click="characterNumber < input.length ? characterNumber++ : characterNumber">+</button>
        </div>
        <p class="character-result" id="text">{{ input[characterNumber - 1] }}</p>
        <button class="copy-button" data-clipboard-action="copy" data-clipboard-target="#text" v-on:click="copyMessage">Copy to clipboard</button>
        <transition name="fade">
          <p class="successful-copy"></p>
        </transition>
      </main>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
