body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 1.2em;
}

.cpu-choice {
  font-size: 2em;
}

.rock,
.paper,
.scissors {
  font-size: 4em;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  color: #f44336;
}

.result {
  font-weight: bold;
  font-size: 4em;
  margin: 0;
}
