html,
.Home {
	font-family: 'Yrsa', serif;
	color: #212121;
	font-size: 1.1em;
}

.Home {
	padding-top: 90px;
}

/* Scroll anchors */
#revisions,
#tabs,
#standard {
	padding-top: 45px;
	margin-top: -45px;
}

/* Tabs */
.album ol,
.album ul {
	margin-top: 15px;
}

.misc-collection {
	margin: 0 auto;
}